<header>
	<%= image_tag "logoheader.png", size: "1200x300", class: 'image' %>
</header>

<div class="imagediv">
	<%= image_tag "workoutlogpage.png", size: "500x250", class: 'image' %>
</div>

<h2 class="main2">Hello Mark, Are you ready to workout today?</h2>

<div class="container_container2">
	<div class="work_container">
		<div class="workout_col">
			<h1>Workouts</h1>
			<% @workouts.each do |workouts| %>
			  <a class="button" href="/workouts/<%= workouts.id %>"><%= workouts.name %></a><br>
			<% end %>
		</div>

		<div class="workout_col">
			<h1>Logs</h1>
			<a href="" class="button">Total Body 2015/20/07 </a><br>
			<a href="" class="button">Core 2015/15/07 </a><br>
			<a href="" class="button">Upper Body  2015/12/07 </a><br>
			<a href="" class="button">Total Body  2015/08/06 </a><br>
		</div>
	</div>  <!-- containercontainer -->
</div> <!-- container -->

<div class="footer">
	<p></p>
</div>