<h1><%= @workout.name %> </h1>

<p> directions</p>

<a class="button" href="/workouts/<%= @workout.id %>"><%= @workout.name %></a><br>

<a href="/exercises/<%= @exercises[0].id%>"><button>START</button>

