@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,400,200);

header{
	/*text-align: center;*/
	background: #48698E;
	margin: 0;
	padding: 0;
   position: relative; 
   width: 100%;
}

.mainhead{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 45px;
  text-align: center;
  color: white;
  position: absolute; 
   top: 300px; 
   left: 0; 
   width: 100%;
   letter-spacing: 30px;
   opacity: .6;
}

.intro2{
  font-size: 44px;
  font-weight: 200;
  margin-top: 30px;
}

.imagediv{
  /*text-align: center;*/
  background: #808080;
  margin: 0;
  padding: 0;
}

.intropp{
	margin: auto;
	width: 70%;
	text-align: center;
}

.container_container{
	  margin-left: 10%;
  margin-right: 10%
}

.container_container2{
    margin-left: 14%;
  margin-right: 14%
}

.need_container{
  width:100%;
  margin:0;
  padding: 20px;
  border:0;
  overflow:hidden; 
}
.four{
  display:block;
  width:25%;
  height:50%;
  float:left; 
}

.work_container{
  width:100%;
  margin: 0;
  padding: 20px;
  border:0;
  overflow:hidden; 
}
.workout_col{
  display:block;
  width:50%;
  height:50%;
  float:left; 
}

.exer_container{
  width:100%;
  margin: 0;
  padding: 20px;
  border:0;
  overflow:hidden; 
}
.exercise_col1{
  display:block;
  margin-left: 12%;
  width:25%;
  height:50%;
  float:left; 
}

.exercise_col2{
  display:block;
  width:50%;
  height:50%;
  float:left; 
  
}

.image{
  background: white;
  border-radius: 10px;
}

body{
margin: 0;
font-family: 'Raleway', sans-serif;
font-weight: 100;
	text-align: center;
	background: #ECEEEC;
}

h1{
font-family: 'Raleway', sans-serif;
font-weight: 100;
font-size: 80px;

color: #666467;
}

.main{
font-family: 'Raleway', sans-serif;
font-weight: 100;
font-size: 100px;
color: #666467;
margin-bottom: 0;
margin-top:60px;
}

.main2{
font-family: 'Raleway', sans-serif;
font-weight: 100;
font-size: 60px;
color: #666467;
margin-bottom: 0;
margin-top:40px;
}

.main3{
font-family: 'Raleway', sans-serif;
font-weight: 100;
font-size: 65px;
color: #666467;
margin-bottom: 0;
margin-top:40px;
}

#workout_timer{
  background: white;
  border-radius: 20px;
  height: 60px;
  width: 600px;
  font-weight: 100;
  font-size: 33px;
  margin-left: -20px;
}

.direction1{
  margin-top: 25px;
font-weight: 700;
font-size: 33px;

}


h2{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 40px;
color: #666467;
}

h3{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 35px;
color: #666467;
}

p{
font-family: 'Raleway', sans-serif;
font-weight: 100;
font-size: 30px;
color: #666467;
}

.needs_text{
font-family: 'Raleway', sans-serif;
font-weight: 100;
font-size: 30px;
color: #666467;
margin: 0;
padding: 0;

}

.needs{
margin-top: -30px;
}

.footer{
  position:relative;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 12px;
	color: #666467;
}

.openerimage{
	background: white;
padding-left:300px;
padding-right: 1000px;
}

.overview_words{
margin-top: -1150px;
margin-bottom: 0;
}

/*shidden*/

.signup_container{
	margin-top: -40px;
  padding-bottom:100px;
}

.logInForm{
	margin-top: -100px;
}

.submitForm{
	margin-top: -140px;
}

.hidden {
    display: none;
}

.launchButtons {
    text-align: center;
    margin-top: 150px;
}

.logInButton {
    margin-left: 8px;
    text-align: center;
    line-height: 50px;
}

.signUpButton {
    text-align: center;
    line-height: 50px;
}

.width {
    width: 400px;
    height: 50px;
    font-size: 18px;
}

input{
	font-size: 24px;
	width: 500px;
  height: 90px;
}
